* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}



body {
    font-family: monospace;
    font-size: 14px;
    max-width: 480px;
    margin: 0 auto;
    padding: 20px
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

button {
    float: right;
}

li {
    margin: 5px 0;
}

#chatControls {
    overflow: auto;
    margin: 0 0 5px 0
}

#addchannel {
	position: fixed;
	left: 50%;
	margin-left: 250px;
	top: 550px;
}

#channellist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin-left: 250px;
    padding: 5px 10px;
    width: 150px;
    height: 500px;
    top: 11px;
}

#chat p {
    margin: 5px 0;
    font-weight: 300
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

#chat article {
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #aaa;
    position: relative;
    word-wrap: break-word;
}

#chat article:first-of-type {
    border-left-color: #74a377;
    animation: enter .2s 1;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}